.first
{
  display: inline-block;
  width: 200px;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 20px;

}
.second{
  display: inline-block;
  width: 200px;
  border: 2px solid red;
  border-radius: 4px;
  padding: 20px;

}
.third
{display: inline-block;
  width: 200px;
  border: 2px solid green;
  border-radius: 4px;
  padding: 20px;


}
